@model EduOMO.Models.QuestionViewModel
@{
	ViewData["Title"] = "Hỏi đáp trên Tailieuhoc247";
	ViewData["description"] = "";
	ViewData["keywords"] = "";
	ViewData["url"] = "";
	ViewData["title"] = "";
	ViewData["image"] = "";
	ViewData["description"] = "";
}
<div class="container">
	<div class="row">
		<div class="col-9 col-md-offset-1">
		</div>
		<div class="col-3 col-md-offset-1">
			<h4 class="text-dark mb-7">Câu Hỏi Liên Quan</h4>

		</div>
	</div>
</div>