@model EduOMO.Models.PostViewModel
@{
    ViewData["Title"] = "Bài viết trên Tailieuhoc247";
    ViewData["description"] = "";
    ViewData["keywords"] = "";
    ViewData["url"] = "";
    ViewData["title"] = "";
    ViewData["image"] = "";
    ViewData["description"] = "";
}

<h1>@Model.Title</h1>