@model EduOMO.Models.PostViewModel
@{
    ViewData["Title"] = "Bài viết trên Tailieuhoc247";
    ViewData["description"] = "";
    ViewData["keywords"] = "";
    ViewData["url"] = "";
    ViewData["title"] = "";
    ViewData["image"] = "";
    ViewData["description"] = "";
}
    
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-9 col-xl-8">
                <h1 class="pb-4">@Model.Title</h1>
                <div class="post-content">
                    @Model.Content
                </div>
            </div>
        </div>
    </div>
</article>