@model IEnumerable<EduOMO.Models.PostViewModel>
@{
    ViewData["Title"] = "Bài viết trên Tailieuhoc247";
    ViewData["description"] = "";
    ViewData["keywords"] = "";
    ViewData["url"] = "";
    ViewData["title"] = "";
    ViewData["image"] = "";
    ViewData["description"] = "";
}
<div class="container">
	<div class="title">
		<h2 class="title">Latest Blogposts</h2>
	</div>
	<div class="items">

        @foreach(var item in Model)
        {
			<div class="row">
				<div class="col-12 col-md-offset-1">
					<div class="card card-plain card-blog">
						<div class="row">
							<div class="col-md-3">
								<div class="card-image">
									<img class="img img-raised" src="assets/img/examples/card-blog4.jpg">
									<div class="colored-shadow" style="background-image: url(&quot;assets/img/examples/card-blog4.jpg&quot;); opacity: 1;"></div>
								</div>
							</div>
							<div class="col-md-9">
								<h6 class="category text-info">Enterprise</h6>
								<h4 class="card-title">
									<a asp-controller="Post" asp-action="Details" asp-route-slug="@item.Slug">@item.Title</a>
								</h4>
								<p class="card-description">
									@item.Content <a href="#pablo"> Read More </a>
								</p>
								<p class="author">
									by <a href="#pablo"><b>Mike Butcher</b></a>, 2 days ago
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
        }

	</div>
</div>

