html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*[class*="items-"]{

}*/
.items{
    padding: 50px 0;
}

.avatar-img {
    width: 100px; /* Adjust size */
    height: 100px;
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures it fills the circle */
    border: 2px solid #ddd; /* Optional border */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional shadow */
    margin-bottom: 10px;
}